USE [master]
GO
/****** Object:  Database [CityCountryDB]    Script Date: 6/14/2015 4:19:03 PM ******/
CREATE DATABASE [CityCountryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityCountryBD', FILENAME = N'i:\SetupFiles\SQLServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\CityCountryBD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CityCountryBD_log', FILENAME = N'i:\SetupFiles\SQLServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\CityCountryBD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityCountryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CityCountryDB]
GO
/****** Object:  StoredProcedure [dbo].[spGetSomeCityInformation]    Script Date: 6/14/2015 4:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[spGetSomeCityInformation]
as
begin
select tblCity.cityName , tblCity.numberOfDwellers , tblCountry.countryName
from tblCity join tblCountry on tblCity.countryID = tblCountry.id
end
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 6/14/2015 4:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [varchar](50) NOT NULL,
	[about] [varchar](500) NOT NULL,
	[numberOfDwellers] [int] NOT NULL,
	[location] [varchar](50) NOT NULL,
	[weather] [varchar](50) NOT NULL,
	[countryID] [int] NOT NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 6/14/2015 4:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCountry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [varchar](50) NOT NULL,
	[about] [varchar](550) NOT NULL,
 CONSTRAINT [PK_tblCountry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tblCity]    Script Date: 6/14/2015 4:19:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCity] ON [dbo].[tblCity]
(
	[cityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tblCountry_1]    Script Date: 6/14/2015 4:19:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCountry_1] ON [dbo].[tblCountry]
(
	[countryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCity]  WITH CHECK ADD  CONSTRAINT [FK_tblCity_PK_tblCountry] FOREIGN KEY([countryID])
REFERENCES [dbo].[tblCountry] ([id])
GO
ALTER TABLE [dbo].[tblCity] CHECK CONSTRAINT [FK_tblCity_PK_tblCountry]
GO
USE [master]
GO
