.wrapper2 {
    width: 798px;
    border: 1px solid gray;
    margin: 0px auto;
    min-height: 400px;    
}
.headerText1 {
    width: 780px;
    padding: 10px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: greenyellow;   
}
fieldset {
    border: 1px solid gray;
    height: 120px;
}
legend {
    font-size: 20px;
    font-weight: bold;
}
.searchContent {
    background-color: #D5D5D5;
    width: 800px;
    float: left;
}
td {
    padding: 5px;
}
.searchOutputRegion {
    width: 798px;
    border: 1px solid greenyellow;
    min-height: 500px;
}
.citySearchGridViewClass th {
    border: 1px solid gray;
}
.citySearchGridViewClass td {
    border: 1px solid gray;
}
